:root {
  background-color: black;
}
* {
  font-family: sans-serif;
}
button {
  all: unset;
  cursor: pointer;
  background-color: rgb(173, 3, 173) !important;
  padding: 10px 20px;
  font-size: larger;
  border-radius: 20px;
  text-transform: uppercase;
}
button[second] {
  all: unset;
  cursor: pointer;
  background-color: rgb(3, 173, 173) !important;
  padding: 10px 20px;
  font-size: larger;
  border-radius: 20px;
  text-transform: uppercase;
}
